@{
    ViewBag.Title = "Home Page";
}

<main>
    <link href="~/Content/Css/Trangchu.css" rel="stylesheet" />
    <body>
        
        <div class="trangdau">
            <div class="circle"></div>
            <header>
                <a href="#"><img src="picture/logo.png" class="logo" alt="Logo"></a>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="/menu.html">Menu</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">About</a></li>
                </ul>
                <div class="search-container">
                    <input type="text" class="search-input" placeholder="Tìm kiếm...">
                    <button class="search-button">Tìm</button>
                </div>
            </header>
            <!-- trang đầu tiên-->

            <div class="danhmucsanpham">
                <div id="wrapper">
                    <div class="header">
                        <h3>Sản Phẩm Bán Chạy</h3>
                    </div>
                    <ul class="products">
                        <li>
                            <div class="product-item">
                                <div class="product-top">
                                    <a href="" class="product-thumb">
                                        <img src="picture/1.png" alt="">
                                    </a>

                                </div>
                                <div class="product-info">
                                    <a href="" class="product-cat">Trà Sữa</a>
                                    <a href="" class="product-name">Trà Sữa Truyền Thống</a>
                                    <a href="" class="product-price">20,000 VNĐ</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="product-item">
                                <div class="product-top">
                                    <a href="" class="product-thumb">
                                        <img src="picture/straw.png" alt="">
                                    </a>

                                </div>
                                <div class="product-info">
                                    <a href="" class="product-cat">Trà Sữa</a>
                                    <a href="" class="product-name">Trà Sữa Truyền Thống</a>
                                    <a href="" class="product-price">20,000 VNĐ</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="product-item">
                                <div class="product-top">
                                    <a href="" class="product-thumb">
                                        <img src="picture/trasua4.png" alt="">
                                    </a>
                                </div>
                                <div class="product-info">
                                    <a href="" class="product-cat">Trà Sữa</a>
                                    <a href="" class="product-name">Trà Sữa Truyền Thống</a>
                                    <a href="" class="product-price">20,000 VNĐ</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="product-item">
                                <div class="product-top">
                                    <a href="" class="product-thumb">
                                        <img src="picture/trasua4.png" alt="">
                                    </a>

                                </div>
                                <div class="product-info">
                                    <a href="" class="product-cat">Trà Sữa</a>
                                    <a href="" class="product-name">Trà Sữa Truyền Thống</a>
                                    <a href="" class="product-price">20,000 VNĐ</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="product-item">
                                <div class="product-top">
                                    <a href="" class="product-thumb">
                                        <img src="picture/straw.png" alt="">
                                    </a>

                                </div>
                                <div class="product-info">
                                    <a href="" class="product-cat">Trà Sữa</a>
                                    <a href="" class="product-name">Trà Sữa Truyền Thống</a>
                                    <a href="" class="product-price">20,000 VNĐ</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="product-item">
                                <div class="product-top">
                                    <a href="" class="product-thumb">
                                        <img src="picture/1.png" alt="">
                                    </a>

                                </div>
                                <div class="product-info">
                                    <a href="" class="product-cat">Trà Sữa</a>
                                    <a href="" class="product-name">Trà Sữa Truyền Thống</a>
                                    <a href="" class="product-price">20,000 VNĐ</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="product-item">
                                <div class="product-top">
                                    <a href="" class="product-thumb">
                                        <img src="picture/trasua4.png" alt="">
                                    </a>

                                </div>
                                <div class="product-info">
                                    <a href="" class="product-cat">Trà Sữa</a>
                                    <a href="" class="product-name">Trà Sữa Truyền Thống</a>
                                    <a href="" class="product-price">20,000 VNĐ</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="imgBox">
                <img src="picture/img2.png" class="GreenTea" alt="Green Tea">
            </div>
        </div>

    </body>
</main>